.elementor-274 .elementor-element.elementor-element-a5cfcb5 > .elementor-container{max-width:1240px;}.elementor-274 .elementor-element.elementor-element-a5cfcb5:not(.elementor-motion-effects-element-type-background), .elementor-274 .elementor-element.elementor-element-a5cfcb5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #830000 0%, #D4007C 100%);}.elementor-274 .elementor-element.elementor-element-a5cfcb5{border-style:solid;border-width:4px 0px 0px 0px;border-color:#FFDA48;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-a5cfcb5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-4b08706{z-index:2;}.elementor-274 .elementor-element.elementor-element-7655a15 .hfe-site-logo-container, .elementor-274 .elementor-element.elementor-element-7655a15 .hfe-caption-width figcaption{text-align:center;}.elementor-274 .elementor-element.elementor-element-7655a15 .hfe-site-logo .hfe-site-logo-container img{width:100px;}.elementor-274 .elementor-element.elementor-element-7655a15 .hfe-site-logo-container .hfe-site-logo-img{border-style:none;}.elementor-274 .elementor-element.elementor-element-7655a15 .widget-image-caption{margin-top:0px;margin-bottom:0px;}.elementor-274 .elementor-element.elementor-element-ba8e639{color:#FFFFFF;}.elementor-274 .elementor-element.elementor-element-7ffd329 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}body:not(.rtl) .elementor-274 .elementor-element.elementor-element-6be4e7d{left:0px;}body.rtl .elementor-274 .elementor-element.elementor-element-6be4e7d{right:0px;}.elementor-274 .elementor-element.elementor-element-6be4e7d{top:0px;}.elementor-274 .elementor-element.elementor-element-202ebd5 img{width:60px;}.elementor-274 .elementor-element.elementor-element-202ebd5 .widget-image-caption{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-size:16px;font-weight:400;}.elementor-274 .elementor-element.elementor-element-eee1e66 .elementor-button{fill:#DDDDDD;color:#DDDDDD;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FFFFFF;border-radius:40px 40px 40px 40px;padding:11px 0px 11px 0px;}.elementor-274 .elementor-element.elementor-element-0a68e47 .elementor-button{fill:#DDDDDD;color:#DDDDDD;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FFFFFF;border-radius:40px 40px 40px 40px;padding:11px 0px 11px 0px;}.elementor-274 .elementor-element.elementor-element-01a0bdc .elementor-button{fill:#DDDDDD;color:#DDDDDD;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FFFFFF;border-radius:40px 40px 40px 40px;padding:11px 0px 11px 0px;}.elementor-274 .elementor-element.elementor-element-8fc3c4f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-274 .elementor-element.elementor-element-005651c img{width:60px;}.elementor-274 .elementor-element.elementor-element-005651c .widget-image-caption{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-size:16px;font-weight:400;}.elementor-274 .elementor-element.elementor-element-a7c6fd8 .elementor-button{fill:#DDDDDD;color:#DDDDDD;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FFFFFF;border-radius:40px 40px 40px 40px;padding:11px 0px 11px 0px;}.elementor-274 .elementor-element.elementor-element-e49f899 .elementor-button{fill:#DDDDDD;color:#DDDDDD;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FFFFFF;border-radius:40px 40px 40px 40px;padding:11px 0px 11px 0px;}.elementor-274 .elementor-element.elementor-element-aab4492 img{width:60px;}.elementor-274 .elementor-element.elementor-element-aab4492 .widget-image-caption{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-size:16px;font-weight:400;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-separator{border-bottom-style:none;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-item{align-items:center;padding:0px 0px 0px 0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-item:not(:last-child){margin-bottom:0px;}.elementor-274 .elementor-element.elementor-element-13001db2.uael-price-list__link-complete-yes a.uael-price-link-box:not(:last-child) .uael-price-list-item{margin-bottom:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-left .uael-price-list-image{margin-right:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-right .uael-price-list-image{margin-left:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-above .uael-price-list-image{margin-bottom:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-title{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:300;margin:10px 10px 10px 10px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-description{color:#FFFFFF;margin:10px 10px 0px 10px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-price{color:#FFFFFF;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-discount-price{color:#FFFFFF;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-wrapper{margin:10px 10px 10px 10px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-image{width:36px;min-width:36px;}.elementor-274 .elementor-element.elementor-element-13001db2 > .elementor-widget-container{padding:0px 0px 0px 50px;}.elementor-274 .elementor-element.elementor-element-31a753ab{text-align:center;}.elementor-274 .elementor-element.elementor-element-31a753ab img{width:110px;}.elementor-274 .elementor-element.elementor-element-cae09c6 > .elementor-container{max-width:500px;}.elementor-274 .elementor-element.elementor-element-cae09c6{z-index:11;}.elementor-274 .elementor-element.elementor-element-9f8450f{text-align:right;}.elementor-274 .elementor-element.elementor-element-9f8450f img{width:180px;}.elementor-274 .elementor-element.elementor-element-32ba845:not(.elementor-motion-effects-element-type-background), .elementor-274 .elementor-element.elementor-element-32ba845 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#640035;}.elementor-274 .elementor-element.elementor-element-32ba845{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 0px 15px 0px;}.elementor-274 .elementor-element.elementor-element-32ba845 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-40ca38b{text-align:center;}.elementor-274 .elementor-element.elementor-element-40ca38b .elementor-heading-title{color:#FFFFFF;}.elementor-274 .elementor-element.elementor-element-66004521:not(.elementor-motion-effects-element-type-background), .elementor-274 .elementor-element.elementor-element-66004521 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:top center;background-size:cover;}.elementor-274 .elementor-element.elementor-element-66004521 > .elementor-background-overlay{opacity:0.34;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-66004521{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-372d6107{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-372d6107 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-7a3efd08 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-7a3efd08 > .elementor-element-populated, .elementor-274 .elementor-element.elementor-element-7a3efd08 > .elementor-element-populated > .elementor-background-overlay, .elementor-274 .elementor-element.elementor-element-7a3efd08 > .elementor-background-slideshow{border-radius:20px 0px 0px 0px;}.elementor-274 .elementor-element.elementor-element-7a3efd08 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-4196c298 img{width:50px;}.elementor-274 .elementor-element.elementor-element-4196c298 > .elementor-widget-container{margin:0px 0px -15px 0px;}.elementor-274 .elementor-element.elementor-element-65d5c69b{text-align:center;}.elementor-274 .elementor-element.elementor-element-65d5c69b .elementor-heading-title{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:400;}.elementor-274 .elementor-element.elementor-element-65d5c69b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-274 .elementor-element.elementor-element-1ab6b4d7 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-1ab6b4d7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-48d6f070 img{width:50px;}.elementor-274 .elementor-element.elementor-element-48d6f070 > .elementor-widget-container{margin:0px 0px -15px 0px;}.elementor-274 .elementor-element.elementor-element-1c42a764{text-align:center;}.elementor-274 .elementor-element.elementor-element-1c42a764 .elementor-heading-title{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:400;}.elementor-274 .elementor-element.elementor-element-1c42a764 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-274 .elementor-element.elementor-element-de0caea > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-de0caea > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-0f783ca img{width:50px;}.elementor-274 .elementor-element.elementor-element-0f783ca > .elementor-widget-container{margin:0px 0px -15px 0px;}.elementor-274 .elementor-element.elementor-element-a6b2b8e{text-align:center;}.elementor-274 .elementor-element.elementor-element-a6b2b8e .elementor-heading-title{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:400;}.elementor-274 .elementor-element.elementor-element-a6b2b8e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-274 .elementor-element.elementor-element-70ac16b7 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-70ac16b7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-444f0132 img{width:50px;}.elementor-274 .elementor-element.elementor-element-444f0132 > .elementor-widget-container{margin:0px 0px -15px 0px;}.elementor-274 .elementor-element.elementor-element-205fc61d{text-align:center;}.elementor-274 .elementor-element.elementor-element-205fc61d .elementor-heading-title{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:400;}.elementor-274 .elementor-element.elementor-element-205fc61d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-274 .elementor-element.elementor-element-50f74423 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-274 .elementor-element.elementor-element-50f74423 > .elementor-element-populated, .elementor-274 .elementor-element.elementor-element-50f74423 > .elementor-element-populated > .elementor-background-overlay, .elementor-274 .elementor-element.elementor-element-50f74423 > .elementor-background-slideshow{border-radius:0px 20px 0px 0px;}.elementor-274 .elementor-element.elementor-element-50f74423 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-274 .elementor-element.elementor-element-9eca767 img{width:50px;}.elementor-274 .elementor-element.elementor-element-9eca767 > .elementor-widget-container{margin:0px 0px -15px 0px;}.elementor-274 .elementor-element.elementor-element-38f00fe6{text-align:center;}.elementor-274 .elementor-element.elementor-element-38f00fe6 .elementor-heading-title{color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:400;}.elementor-274 .elementor-element.elementor-element-38f00fe6 > .elementor-widget-container{margin:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-left .uael-price-list-image{margin-right:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-right .uael-price-list-image{margin-left:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 .uael-price-list-above .uael-price-list-image{margin-bottom:0px;}.elementor-274 .elementor-element.elementor-element-13001db2 > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-274 .elementor-element.elementor-element-1b88fb4{width:100%;}.elementor-274 .elementor-element.elementor-element-7655a15 .hfe-site-logo .hfe-site-logo-container img{width:133px;}.elementor-274 .elementor-element.elementor-element-6be4e7d img{width:350px;}.elementor-274 .elementor-element.elementor-element-6be4e7d > .elementor-widget-container{margin:-10px 0px 0px 0px;}body:not(.rtl) .elementor-274 .elementor-element.elementor-element-6be4e7d{left:-144px;}body.rtl .elementor-274 .elementor-element.elementor-element-6be4e7d{right:-144px;}.elementor-274 .elementor-element.elementor-element-6be4e7d{z-index:0;}.elementor-274 .elementor-element.elementor-element-202ebd5 img{width:35px;}.elementor-274 .elementor-element.elementor-element-202ebd5 .widget-image-caption{font-size:16px;}.elementor-274 .elementor-element.elementor-element-005651c img{width:35px;}.elementor-274 .elementor-element.elementor-element-005651c .widget-image-caption{font-size:16px;}.elementor-274 .elementor-element.elementor-element-aab4492 img{width:35px;}.elementor-274 .elementor-element.elementor-element-aab4492 .widget-image-caption{font-size:16px;}.elementor-274 .elementor-element.elementor-element-13001db2 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0vw 0vw 0vw 030vw;}.elementor-274 .elementor-element.elementor-element-cae09c6{z-index:11;}.elementor-274 .elementor-element.elementor-element-9f8450f img{width:109px;}.elementor-274 .elementor-element.elementor-element-32ba845{padding:15px 0px 120px 0px;}.elementor-274 .elementor-element.elementor-element-66004521:not(.elementor-motion-effects-element-type-background), .elementor-274 .elementor-element.elementor-element-66004521 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://ideabet.live/theme/luffybet/wp-content/uploads/2022/03/bottom00.png");}.elementor-274 .elementor-element.elementor-element-66004521{padding:20px 0px 0px 0px;z-index:9;}.elementor-274 .elementor-element.elementor-element-7a3efd08{width:20%;}.elementor-274 .elementor-element.elementor-element-7a3efd08 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-274 .elementor-element.elementor-element-4196c298 img{width:50px;}.elementor-274 .elementor-element.elementor-element-65d5c69b .elementor-heading-title{font-size:13px;}.elementor-274 .elementor-element.elementor-element-1ab6b4d7{width:20%;}.elementor-274 .elementor-element.elementor-element-1ab6b4d7 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-274 .elementor-element.elementor-element-48d6f070 img{width:50px;}.elementor-274 .elementor-element.elementor-element-1c42a764 .elementor-heading-title{font-size:13px;}.elementor-274 .elementor-element.elementor-element-de0caea{width:20%;}.elementor-274 .elementor-element.elementor-element-de0caea > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-274 .elementor-element.elementor-element-0f783ca img{width:50px;}.elementor-274 .elementor-element.elementor-element-a6b2b8e .elementor-heading-title{font-size:13px;}.elementor-274 .elementor-element.elementor-element-70ac16b7{width:20%;}.elementor-274 .elementor-element.elementor-element-70ac16b7 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-274 .elementor-element.elementor-element-444f0132 img{width:50px;}.elementor-274 .elementor-element.elementor-element-205fc61d .elementor-heading-title{font-size:13px;}.elementor-274 .elementor-element.elementor-element-50f74423{width:20%;}.elementor-274 .elementor-element.elementor-element-50f74423 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-274 .elementor-element.elementor-element-9eca767 img{width:50px;}.elementor-274 .elementor-element.elementor-element-38f00fe6 .elementor-heading-title{font-size:13px;}}/* Start custom CSS for text-editor, class: .elementor-element-ba8e639 */.elementor-274 .elementor-element.elementor-element-ba8e639{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6be4e7d */.elementor-274 .elementor-element.elementor-element-6be4e7d{
    opacity: .5;
    display: none !important;
}
@media (max-width:767px){
    .elementor-274 .elementor-element.elementor-element-6be4e7d{
    display: block !important;
}
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-eee1e66 */.elementor-274 .elementor-element.elementor-element-eee1e66 a{
   width: 170px; 
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-0a68e47 */.elementor-274 .elementor-element.elementor-element-0a68e47 a{
   width: 170px; 
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-01a0bdc */.elementor-274 .elementor-element.elementor-element-01a0bdc a{
   width: 170px; 
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-a7c6fd8 */.elementor-274 .elementor-element.elementor-element-a7c6fd8 a{
   width: 170px; 
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-e49f899 */.elementor-274 .elementor-element.elementor-element-e49f899 a{
   width: 170px; 
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-cae09c6 */.elementor-274 .elementor-element.elementor-element-cae09c6{
    position: fixed;
    right: 9px;
    bottom: 65px;
    width: max-content !important;
    
}
@media (max-width:767px){
    .elementor-274 .elementor-element.elementor-element-cae09c6{
    right: 0px;
    bottom: 110px;
    
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-f027d05 */@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
      pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:first-of-type {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}/* End custom CSS *//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a5cfcb5 */.elementor-274 .elementor-element.elementor-element-a5cfcb5:after{
    content: '';
    background: linear-gradient(90deg,#e51a5c 0%,#d60831 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 92px;
    z-index:0
}
.elementor-274 .elementor-element.elementor-element-a5cfcb5{
    overflow: hidden;
}
@media (max-width:767px){
    .elementor-274 .elementor-element.elementor-element-a5cfcb5:after{
        height:220px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-66004521 */.elementor-274 .elementor-element.elementor-element-66004521{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    
}/* End custom CSS */